body {
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  background-color: red;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
  width: fit-content;
  justify-content: flex-end;
}

li {
  margin: 0 4rem;
}
img {
  width: 50px;
}

.price {
  display: inline-block;
}
